@font-face {
    font-family: 'Gotham Pro' ;
    src: url(./fonts/gothampro.ttf);
}

@font-face {
    font-family: 'Gotham Pro Bold';
    src: url(./fonts/gothampro_bold.ttf);
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.container {
    max-width: 1320px;
    width: 100%;
}

h2 {
    font-family: 'Gotham Pro Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000000;
}

h3 {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.02em;
    color: #1F1F1F;
}

/* offer */
.offer {
    margin-top: 26px;
    margin-bottom: 100px;
}

/* design */
.design {
    margin-bottom: 100px;
}

.design__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 1320px;
    width: 100%;
}
.design__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 664px;
    width: 100%;
}

.design__title {
    margin-bottom: 50px;
}

.design__subtitle {
    margin-bottom: 50px;
}

.design__button {
    width: 128px;
    height: 40px;
    left: 903px;
    top: 1717px;
    background: #336466;
    border-radius: 5px;
    border: none;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
    color: #FFFFFF;
}

/* product */
.product {
    margin-bottom: 100px;
}

/* complectation */
.complectation {
    margin-bottom: 100px;
}

.complectation__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-width: 1320px;
    width: 100%;
}

.complectation__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 606px;
    width: 100%;
    margin-left: 114px;
}

.complectation__title {
    margin-bottom: 59px;
}

.complectation__subtitle {
    margin-bottom: 71px;
}

.complectation__button {
    width: 128px;
    height: 40px;
    left: 903px;
    top: 1717px;
    background: #336466;
    border-radius: 5px;
    border: none;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
    color: #FFFFFF;
}

/* brands */
.brands {
    margin-bottom: 100px;
}

/* designers */
.designers {
    margin-bottom: 100px;
}

.designers__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 1320px;
    width: 100%;
}

.designers__text {
    max-width: 716px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.designers__title {
    margin-bottom: 66px;
}
.designers__subtitle {
    margin-bottom: 35px;
}
.designers__button {
    width: 128px;
    height: 40px;
    left: 903px;
    top: 1717px;
    background: #336466;
    border-radius: 5px;
    border: none;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
    color: #FFFFFF;
}
